<section class="container review-form">
<%= bootstrap_form_for ([@book,@book.reviews.build]) do |f| %>
 <%= f.text_field :name %>
 <%= f.text_field :content %>
 <%= f.submit 'Save'%>
 <br />
 <%= link_to 'Back', books_path %>
<% end %>
</section>
